body{
	
}
#header{
	width: 100%;
	color: white;
	height: 100%;
	font-size: x-large;
	padding: 0px 0px 0px 0px;;
	font-weight: bold;
	font-family: verdana;
}

#footer{
	width: 100%;
	color: white;
	font-weight: bold;
	text-align: center;
	height: 30px;
	font-size: 15px;
	font-family: verdana;
}

.detailsImage{
	background-image: url(#{ resource ['images/details.png']}) !important;
}

.panelGrid{
	width: 200px;
}
.ui-widget-content{
	background: transparent !important;
}

.ui-dialog{
	background: white !important;
	color: black !important;
}

.ui-tabs-top{
	direction: ltr !important;
}

.ui-panelgrid td,.ui-panelgrid tr{
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	border-style: none !important;
	background: #E6E6E6 !important;
}

.ui-tabs .ui-tabs-nav{
	text-align: center !important;
}


.ui-datepicker thead{  
    background-color: #EFF2FB !important; 
}

.ui-datepicker .ui-widget-content .ui-datepicker-header{
    background-color: #EFF2FB !important;
}


.ui-datepicker table{  
    background-color: #EFF2FB !important;  
} 
.ui-datepicker th{ 
	background-color: #EFF2FB !important;
}

.ui-fieldset{
	max-width: 70% !important ; 
	min-width: 1000px !important;
	margin-top:30px !important; 
}

 .ui-panelgrid{
 	background:transparent !important;
 	 width:100% !important;
 }
 .ui-panelgrid td{
  	background:transparent !important;
 }
 .ui-panelgrid  tr{
   background:transparent !important;
 }